<div class="list-group" id="table-margin-top">
    <div ng-repeat="item in list.items" class="list-group-item">
        <div class="row">
            <div class="col-md-1">
                <div ng-switch="item.state">
                    <span ng-switch-when="IDLE" class="label label-default">IDLE</span>
                    <span ng-switch-when="RUNNING" class="label label-primary">RUNNING</span>
                    <span ng-switch-when="SUCCESS" class="label label-success">SUCCESS</span>
                    <span ng-switch-when="PENDING" class="label label-info">PENDING</span>
                    <span ng-switch-when="CANCELED" class="label label-warning">CANCELED</span>
                    <span ng-switch-when="FAILED" class="label label-danger">FAILED</span>
                </div>
            </div>
            <div class="col-md-2">
                <dl>
                    <dt>
                        Title
                    </dt>
                    <dd>
                        {{item.title}}
                    </dd>
                </dl>
            </div>
            <div class="col-md-3">
                <dl>
                    <dt>
                        Start time
                    </dt>
                    <dd>
                        {{item.start_time}}
                    </dd>
                </dl>
            </div>
            <div class="col-md-3">
                <dl>
                    <dt>
                        End time
                    </dt>
                    <dd>
                        {{item.end_time}}
                    </dd>
                </dl>
            </div>
            <div class="col-md-2">
                <dl>
                    <dt>
                        Tasks completed
                    </dt>
                    <dd>
                        {{item.n_completed}} of {{item.n_subtasks}}
                    </dd>
                </dl>
            </div>
            <div class="col-md-1">
                <button class="btn btn-link" ng-click="cancel(item.task_id)" ng-hide="!canCancel(item.state)">Cancel
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <p>

                <div class="btn btn-link" ng-click="isCollapsed[item.task_id] = !isCollapsed[item.task_id]">View
                    details
                </div>
                </p>
            </div>
            <!--<div class="col-md-10">
                <uib-progressbar max="item.n_subtasks" value="item.n_completed" type="success"><span style="color:white; white-space:nowrap;">{{item.n_completed}} / {{item.n_subtasks}}</span></uib-progressbar>
            </div>-->
        </div>
        <div uib-collapse="!isCollapsed[item.task_id]">
            <div class="well well-lg">
                <p><b>Actualize date:</b> {{item.actualize_date}}</p>

                <p><b>Best score:</b> {{item.best_score}}</p>

                <p><b>Best params:</b> {{item.best_params}}</p>

                <p><b>Param errors:</b> {{item.param_errors}}</p>

                <p><b>Runtime errors:</b></p>
                <p>
                <div ng-repeat="error_info in item.runtime_errors">
                    Type:
                    <div class="monospace-code">{{error_info.ex_type}}</div>
                    <br>
                    Message:
                    <div class="monospace-code">{{error_info.ex_message}}</div>
                    <br>
                    Traceback: <br>
                    <pre><div class="monospace-code">{{error_info.traceback}}</div></pre>
                </div>
            </div>
        </div>
    </div>
</div>