<div class="list-group" id="table-margin-top">
    <div ng-repeat="item in resource_list.items" class="list-group-item">
        <div class="row">
            <div class="col-md-3">
                <dl>
                    <dt>
                        ID
                    </dt>
                    <dd>
                        {{item.resource_id}}
                    </dd>
                </dl>
            </div>
            <div class="col-md-3">
                <dl>
                    <dt>
                        Title
                    </dt>
                    <dd>
                        {{item.title}}
                    </dd>
                </dl>
            </div>
            <div class="col-md-3">
                <dl>
                    <dt>
                        Size
                    </dt>
                    <dd>
                        {{item.size}} byte(s)
                    </dd>
                </dl>
            </div>
            <div class="col-md-2">
                <dl>
                    <dt>
                        Is locked
                    </dt>
                    <dd>
                        {{item.is_locked}}
                    </dd>
                </dl>
            </div>
            <div class="col-md-1">
                <dl>
                    <button class="btn btn-link" ng-click="delete(item.resource_id)" ng-hide="!canDelete(item)">Delete
                    </button>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <p>

                <div class="btn btn-link" ng-click="isCollapsed[item.resource_id] = !isCollapsed[item.resource_id]">View
                    details
                </div>
            </div>
        </div>
        <div uib-collapse="!isCollapsed[item.resource_id]">
            <div class="well well-lg" ng-hide="!item.lockers">
                <p><b>No lockers</b></p>
            </div>
            <div class="well well-lg" ng-hide="item.lockers">
                <p><b>Lockers:</b></p>

                <p>
                <ul ng-repeat="locker_id in item.lockers">
                    <li>{{locker_id}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>